*{
font-family: 'Source Sans Pro', sans-serif;
margin: 0;

}






/* //////////// TOPBAR /////////////////////// */

.topbar{
  width: 100%;
  height: 50px;
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 999;
}
.topbarWrapper{
  height: 100%;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  font-size: 30px;
  font-weight: bold;
  color: #000;
  cursor: pointer;
}

.topRight{
  display: flex;
  align-items: center;

}

.topbarIconsContainer{
  position: relative;
  cursor: pointer;
  margin-right: 10px;
  color: #555;

}

.topIconBadge{
  width: 15px;
  height: 15px;
  position: absolute;
  top: -5px;
  right: 0px;
  background-color: red;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
}

.topAvatar{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;

}

/* //////////////////////////////////////////////////////////// */


/*////////////////////// Side BAR /////////////////////////// */

.container{
  display: flex;
  margin-top: 10px;
}
.sidebar{
  flex: 1;
  height: calc(100vh - 50px);
  background-color:rgb(251, 251, 255);
  position: sticky;
  top: 50px;  

}

.sidebarWrapper{
   padding: 20px;
   color: #555;

}
.sidebarMenu{
  margin-bottom: 10px;
}

.sidebarTitle{
  font-style: 13px;
  color: rgb(187,186,186);
}

.sidebarList{
  list-style: none;
  padding: 5px;
}
.sidebarListItem{
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.sidebarListItem.active, .sidebarListItem:hover{
  background-color: #f5f5f5;
}

.sidebarIcon{
  margin-right: 10px;
  font-size: 20px;

}

/* ///////////////// HOME ////////////////////////*/

.home{
  flex: 4;
}


/* ///////////////// Featured Info  ////////////////////////*/

.featured{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.featuredItem{
  flex: 1;
  margin: 0px 20px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75);
/* -webkit-box-shadow: -10px 7px 19px -12px rgba(0,0,0,0.75);
-moz-box-shadow: -10px 7px 19px -12px rgba(0,0,0,0.75); */
}

.featuredTitle{
  font-style: 20px;
}
.featuredMoneyContainer{
  margin: 10px 0px;
  display: flex;
  align-items: center;
}
.featuredMoney{
  font-size: 30px;
  font-weight: bold;
}
.featuredMoneyRate{
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.featuredIcon{
  font-size: 14px;
  margin-left: 5px;
  color: green;
}
.featuredIcon.negative{
  color: red;
}

.featuredSub{
  font-size: 15px;
  color: gray;
}

/* //////////////// CHART /////////////////////////// */

.chart{
  margin: 20px;
  padding: 20px;
  box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75);
}

.chartTitle{
  margin-bottom: 20px;
}


/* //////////////// WIDGETS /////////////////////////// */

.homeWidgets{
  display: flex;
  margin: 20px;
}
.widgetSm{
  flex: 1;
  box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75);
  padding: 20px;
  margin-right: 20px;

}

.widgetLg{
  flex: 2;
  box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75);
  padding: 20px;
}

.widgetSmTitle{
  font-size: 22px;
  font-weight: 600;
}

.widgetSmImg{
  font: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.widgetSmList{
  margin: 0;
  padding: 0;
  list-style: none;
}

.widgetSmListItem{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0px;
}

.widgetSmUser{
  display: flex;
  flex-direction: column;
}

.widgetSmUsername{
  font-weight: 600;
}

.widgetSmUsetTitle{
  font-weight: 300;
}

.widgetSmButton{
  display: flex;
  align-items: center;
  border: none;
  padding: 7px 10px;
  background-color: #eeeef7;
  color: #555;
  cursor: pointer;
}

.widgetSmIcon{
  font-size: 16px;
}


/* ///////////////////// WIDGET LARGE ////////////////////////// */

.widgetLgTitle{
  font-size: 22px;
  font-weight: 600;
}
.widgetLgTable{
  width: 100%;
  border-spacing: 20px;
}
.widgetLgTh{
  text-align: left;
}

.widgetLgUser{
  display: flex;
  align-items: center;
}
.widgetLgImg{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}
.widgetLgButton{
  padding: 5px 7px;
  border: none;
  border-radius: 10px;
  background-color: #3535c4;
  cursor: pointer;
}

.widgetLgDate,.widgetLgAmount{
  font-weight: 300;
} 

.widgetLgButton.Approved{
    background-color: #e5faf2;
    color: #3bb077;
}
.widgetLgButton.Decline{
    background-color: #fff0f1;
    color: #d95087;

}
.widgetLgButton.Pending{
    background-color: #ebf1fe;
    color: #2a7ade;

}

/* USER LIST */

.userlist{
  flex: 4;
}

.userListUser{
  display: flex;
  align-items: center;
}
.userListImg{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.userListEdit{
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  color: white;
  cursor: pointer;
  background-color: rgb(145, 226, 145);
  margin-right: 20px;
}

.userListDelete{
   color: red;
   cursor: pointer;
}